html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
}

h1 {
    height: 80px;
    margin: 30px auto 60px auto;
    border-bottom: solid;
    border-width: 5px;
    border-color: rgb(19, 140, 198);
    width: fit-content;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th {
    background-color: rgb(19, 140, 198);
}

td {
    background-color: rgb(200, 212, 226);
    border-color: rgb(70, 70, 70);
}

th, 
td {
    padding: 6px 12px;
    border-style: solid;
    border-width: 4px;
}

#main-title {
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.table-titles {
    color:rgb(19, 140, 198);
    font-family: 'Space Mono', monospace;
    margin-bottom: 10px;
}

#table-tags {
    margin-top: 10px;
}

#table-attributes {
margin-top: 50px;
}